<!-- demo template comes here -->
<!DOCTYPE html>
<html class="uk-height-1-1">
    <head>
        <title>Drunkare-demo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/uikit.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body class="uk-height-1-1">
        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-height-1-1" uk-grid>
            <div class="uk-width-1-2 uk-background-muted uk-height-1-1">
                <!-- User 1 -->
                <div class="uk-padding-small uk-margin-top uk-background-muted" style="height: 60%">
                  <canvas id="user1"></canvas>
                </div>
                <div class="uk-padding uk-background-muted">
                    <h1><span class="uk-heading-medium uk-text-primary">User1 is in the<br>"<span id="context1"></span>" context</span></h1>
                    <h5 class="uk-heading-line"><span id="time1" class="uk-text-primary">- Updated</span></h5>
                </div>
            </div>
            <div class="uk-width-1-2 uk-background-primary uk-height-1-1">
                <!-- User 2 -->
                <div class="uk-padding-small uk-margin-top uk-background-primary" style="height: 60%">
                  <canvas id="user2"></canvas>
                </div>
                <div class="uk-padding uk-light uk-background-primary">
                    <h1><span class="uk-heading-medium">User2 is in the<br>"<span id="context2"></span>" context</span></h1>
                    <h5 class="uk-heading-line"><span id="time2" class="uk-text-primary">- Updated</span></h5>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/chart.js"></script>
        <script>
            // Initialization
            var dt = new Date();
            $("#time1").text(dt.toLocaleString() + " Updated");
            $("#time2").text(dt.toLocaleString() + " Updated");
            $("#context1").text("Desk"); // Arbitrary initial value
            $("#context2").text("Cafe"); // Arbitrary initial value
            setInterval(updateResult, 5000); // update period

            // function
            function update_time() {
              // Update time
              var dt = new Date();
              $("#time1").text(dt.toLocaleString() + " Updated");
              $("#time2").text(dt.toLocaleString() + " Updated");
            }

            function updateResult() {
                $.getJSON('data.json', function(data) {
                    $.each(data, function(index,entry){
                        results[index][0] = entry.TouchingFace;
                        results[index][1] = entry.Pouring;
                        results[index][2] = entry.RaisingHand;
                        results[index][3] = entry.TypingSmartphone;
                        results[index][4] = entry.Jotting;
                        results[index][5] = entry.Clinking;
                        results[index][6] = entry.Drink1;
                        results[index][7] = entry.Tissue;
                        results[index][8] = entry.Drink2;
                        results[index][9] = entry.Spoon;
                        results[index][10] = entry.Chopstick;
                        results[index][11] = entry.Photo;
                        results[index][12] = entry.Fork;
                        results[index][13] = entry.Stirring;
                        results[index][14] = entry.Keyboard;
                        results[index][15] = entry.Mouse;
                    });
                    chart1.update()
                    chart2.update()
                    update_time()
                })
            }
        </script>
    </body>
</html>
