<!-- demo template comes here -->
{% load static %}
<!DOCTYPE html>
<html class="uk-height-1-1">
    <head>
        <title>Drunkare-demo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/uikit.css'%}" />
        <script src="{% static 'js/uikit.min.js'%}"></script>
        <script src="{% static 'js/uikit-icons.min.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body class="uk-height-1-1">
        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-height-1-1" uk-grid>
            <div class="uk-width-1-3 uk-background-muted uk-height-1-1">
                <div id="map" class="uk-padding-small uk-height-1-1"></div>
                <script>
                    // Initialize and add the map
                    function initMap() {
                        var user1_loc = "{{user1.current_location}}";
                        var user2_loc = "{{user2.current_location}}";
                        if (user1_loc!=""){
                            user1_loc = {lat: parseFloat(user1_loc.split(",")[0]),lng:parseFloat( user1_loc.split(",")[1])};
                            

                            if (user2_loc!=""){
                                user2_loc = {lat: parseFloat(user2_loc.split(",")[0]),lng:parseFloat( user2_loc.split(",")[1])};
                                
                                var map = new google.maps.Map(
                                    document.getElementById('map'), {zoom: 16, center:user1_loc});
                                var marker = new google.maps.Marker({position: user1_loc, map: map, label:"{{user1.user_name}}"});
                                var marker2 = new google.maps.Marker({position: user2_loc, map: map, label:"{{user2.user_name}}"});
                            }
                            else{
                                var map = new google.maps.Map(
                                    document.getElementById('map'), {zoom: 17, center:user1_loc});
                                var marker = new google.maps.Marker({position: user1_loc, map: map, label:"{{user1.user_name}}"});

                            }
                        }
                        else{
                            if (user2_loc!=""){
                                user2_loc = {lat: parseFloat(user2_loc.split(",")[0]),lng:parseFloat( user2_loc.split(",")[1])};
                                
                                var map = new google.maps.Map(
                                    document.getElementById('map'), {zoom: 17, center:user2_loc});
                                var marker2 = new google.maps.Marker({position: user2_loc, map: map, label:"{{user2.user_name}}"});
                            }
                        }
                    }
                </script>
                <!--Load the API from the specified URL
                * The async attribute allows the browser to render the page while the API loads
                * The key parameter will contain your own API key (which is not needed for this tutorial)
                * The callback parameter executes the initMap() function
                -->
                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key={{gps_key}}&callback=initMap">
                </script>
            </div>

            <div class="uk-width-2-3 uk-background-primary uk-height-1-1">
                <!-- User 1 -->
                <div class="uk-padding-small uk-background-muted" style="height: 45%">
                    <h1><span class="uk-heading-medium">{{ user1.user_name }} is in "<span id="context1"></span>" context</span></h1>
		    <div> {{user1.user_name}}'s recent activities ( <span id="time1"></span> )</div>
		    <div class="uk-bacgrkound-muted" style="height: 70%">
                      <canvas id="user1"></canvas>
		    </div>
                </div>

                <!-- User 2 -->
                <div class="uk-padding-small uk-light" style="height: 45%">
                    <h1><span class="uk-heading-medium">{{ user2.user_name }} is in "<span id="context2"></span>" context</span></h1>
		    <div> {{user2.user_name}}'s recent activities ( <span id="time2"></span> )</div>
		    <div class="uk-bacgrkound-primary" style="height: 70%">
                      <canvas id="user2"></canvas>
		    </div>
                </div>
            </div>
        </div>
        <script>
            /* ======= make chart ======= */
            var activity_labels = {{ activity_labels|safe }};
            updateResult();
            /* =============================== */



            /* ======= update chart ======= */
            setInterval(updateResult, 10000); // update period

            // function
            var chart1;
            var chart2;

            function updateResult() {
                $.get('/custom_user/web', function(data) {
                    users = JSON.parse(data['users']);
                    user1 = users[0]['fields'];
                    user2 = users[1]['fields'];
                    updated_chart_data1 = JSON.parse(user1['recent_activities']).slice(0,10);
                    
                    
                    user_data1 = {
                        labels: activity_labels,
                        datasets: [{
                            backgroundColor: ["#ff6384", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#ff6384", "#8e5ea2","#3cba9f","#e8c3b9","#c45850",
                                            "#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#36a2eb","#ff6384"],
                            borderColor: 'transparent',
                            data: updated_chart_data1
                        }]
                    }
                    updated_chart_data2 = JSON.parse(user2['recent_activities']).slice(0,10);
                    
                    user_data2 = {
                        labels: activity_labels,
                        datasets: [{
                            backgroundColor: ["#ff6384", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#ff6384", "#8e5ea2","#3cba9f","#e8c3b9","#c45850",
                                            "#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#36a2eb","#ff6384"],
                            borderColor: 'transparent',
                            data: updated_chart_data2
                        }]
                    }

                    // clear canvas
                    canvas1 = document.getElementById('user1');
                    ctx1 = canvas1.getContext('2d');
                    ctx1.clearRect(0, 0, canvas1.width, canvas1.height);
                    if (chart1){
                        chart1.destroy();
                    }

                    canvas2 = document.getElementById('user2');
                    ctx2 = canvas2.getContext('2d');
                    ctx2.clearRect(0, 0, canvas2.width, canvas2.height);
                    if (chart2){
                        chart2.destroy();
                    }
                    
                    // rerender chart
                    chart1 = new Chart(ctx1, {
                                        type: 'bar',
                                        data: user_data1,
                                        options: {
                                            legend: {
                                            display: false
                                            },
                                            tooltips: {
                                                mode: 'index',
                                                intersect: true,
                                                callbacks: {
                                                    label: function(items,data){
                                                        return "";
                                                    }
                                                    },
                                titleFontSize: 30,
                                titleFontFamily: 'Karla',
                                            bodyFontSize: 30,
                                            bodyFontFamily: 'Karla'
                                            },
                                            responsive:true,
                                            maintainAspectRatio: false,
                                            scales:{
                                                yAxes:[{
                                                    ticks:{
                                                        max: Math.max(...updated_chart_data1)+10-Math.max(...updated_chart_data1)%10,
                                    fontSize: 20,
                                    fontFamily: 'Karla'
                                                    }}
                                                ],
                                                xAxes:[{
                                                    ticks:{
                                    autoSkip: false,
                                                        maxRotation: 90,
                                    minRotation: 0,
                                    fontSize: 10,
                                    fontFamily: 'Karla'
                                                    }}
                                                ]
                                            }
                                        }
                                    });
                    chart2 = new Chart(ctx2, {
                                            type: 'bar',
                                            data: user_data2,
                                            options: {
                                                legend: {
                                                display: false
                                                },
                                                tooltips: {
                                                    label: function(items,data){
                                                        return "";
                                                    },
                                    titleFontSize: 30,
                                    titleFontFamily: 'Karla',
                                                bodyFontSize: 30,
                                                bodyFontFamily: 'Karla'
                                                },
                                                responsive:true,
                                                maintainAspectRatio: false,
                                                scales:{
                                                    yAxes:[{
                                                        ticks:{
                                                            max: Math.max(...updated_chart_data2)+10-Math.max(...updated_chart_data2)%10,
                                        fontColor: "#FFFFFF",
                                        fontSize: 20,
                                        fontFamily: 'Karla'
                                                        }}
                                                    ],
                                                    xAxes:[{
                                                        ticks:{
                                        autoSkip: false,
                                                            maxRotation: 90,
                                        minRotation: 0,
                                        fontColor: "#FFFFFF",
                                        fontSize: 10,
                                        fontFamily: 'Karla'
                                                        }}
                                                    ]
                                                }
                                            }
                                        });

                    //update strings
                    time1=new Date(user1['last_update']).toString();
                    $("#time1").text(String(time1).substring(0,time1.length-17) + " Updated");
                    time2=new Date(user2['last_update']).toString();
                    $("#time2").text(String(time2).substring(0,time2.length-17) + " Updated");

                    if (user1['current_context'] == "drinking"){
                        $("#context1").css('font-weight','Bold');
                        $("#context1").css('color','red');
                    }
                    else{
                        $("#context1").css('font-weight','');
                        $("#context1").css('color','#1E87F0');
                    }
                    if (user2['current_context'] == "drinking"){
                        $("#context2").css('font-weight','Bold');
                        $("#context2").css('color','red');
                    }
                    else{
                        $("#context2").css('font-weight','');
                        $("#context2").css('color','white');
                    }
                    $("#context1").text(user1['current_context']);
                    $("#context2").text(user2['current_context']);

		    $("#location1").text(user1['current_location']);
		    $("#location2").text(user2['current_location']);

                });
            }
            /* =============================== */


        </script>
    </body>
</html>
